﻿@model IEnumerable<Coronitor.Models.City>


<head>
    <link rel="stylesheet" href="~/css/mapStyle.css">
    <script type='text/javascript'>
        function GetMap() {
            var map = new Microsoft.Maps.Map('#myMap');

            //Request the user's location
            navigator.geolocation.getCurrentPosition(function (position) {
                var loc = new Microsoft.Maps.Location(
                    position.coords.latitude,
                    position.coords.longitude);

                //Center the map on the user's location.
                map.setView({ center: loc, zoom: 12 });
                var pin = new Microsoft.Maps.Pushpin(loc, {
                    color: 'red',
                    title: "You are here",
                });

                map.entities.push(pin);

            });

            // Get cities
            $.ajax({
                url: '../Cities/GetNumberOfSickPeopleInEveryCity',
                type: 'json'

            }).done(function (locationsArray) {

                $.each(locationsArray,
                    function (index, city) {
                        //Create custom Pushpin
                        var cityLoc = new Microsoft.Maps.Location(
                            city.latitude,
                            city.longitude);

                        var pin = new Microsoft.Maps.Pushpin(cityLoc, {
                            title: city.name,
                            text: city.numOfInfections.toString()
                        });

                        //Add the pushpin to the map
                        map.entities.push(pin);

                        if (city.numOfInfections > 0) {
                            var row = '<li class="list-group-item d-flex justify-content-between align-items-center">' + city.name +
                                '<span class="badge badge-primary badge-pill">' + city.numOfInfections.toString() + '</span></li>'
                            $(".list-group").append(row);
                        }
                    });
            });
        }
    </script>

</head>
<img src="https://img.icons8.com/dusk/64/000000/map.png" />
<body>
    <div class="mapcontainer">
        <div id="myMap" class="column left">

        </div>
        <div id="citiestable">
            <ul class="list-group">
            </ul>
        </div>
    </div>
</body>




