﻿.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 32px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position:absolute;
    left: 45px;
}

.form {
    margin-left: 60px;
    margin-bottom: 24px;
    margin-top: 12px;
}

.form-group {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.form-label {
    margin-bottom: 0px;
    margin-right: 2px;
}

.page-header {
    height: 100px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.title-header {
    align-self: center;
}

.img-header {
    width: 50px;
    height: 50px;
    align-self: center;
}