﻿.main-img {
    width: 100%;
    height: 320px;
    margin-bottom: 8px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.newspapaer {
    column-count: 3;
    column-gap: 40px;
    column-rule: 2px solid #adb5bd;
    column-width: 300px;
    line-height: 30px;
    font-size: large;
    margin-bottom: 8px;
}

.header {
    column-span: all;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 16px;
    background-color: #adb5bd;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.img {
    width: 374px;
    height: 300px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.img-container {
    position: relative;
}

.img-textbox {
    opacity: 0;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    top: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.img-textbox:hover {
    opacity: 0.6;
    background-color: #e9ecef;
}

.img-text {
    width: 100%;
    background-color: #666;
    color: white;
    padding: 16px;
    text-align: center;
    margin-top: 124px;
}

.container-crown {
    display: flex;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 2px;
    background-color: #adb5bd;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.img-crown {
    width: 100px;
    height: 100px;
}

.text-crown {
    line-height: 30px;
    align-self: center;
}

.canvas {
    align-self: center;
    margin-bottom: -22px;
}

.video {
    align-self: center;
}

.video-image {
    width: 594px;
    height: 305px;
}

.video-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}