﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-v20-latin-regular.woff);
}

@font-face {
    font-family: openSans;
    src: url(../fonts/OpenSansHebrew-Regular.ttf);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.hi {
    color: #6d6d6d;
    font-size: 14px;
    margin-top: 4px;
    margin-right: 4px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Roboto, openSans;
    background-color: #e9ecefc4
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

#navIcon{
    width: 25px;
}

.searchForm {
    padding: 1%;
    background: #e2e2e2;
}

.panel {
    background-color: white !important;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
    padding: 12px;
}
