﻿.charts-container {
    display: flex;
}

.chart-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 12px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-right: 8px;
    margin-left: 8px;
    background-color: white !important;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
}

.chart {
    align-self: center;
    opacity: 0;
    transition: opacity ease-in 1.5s;
}

/* pie */

.arc text {
    font-size: 12px;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
    stroke-width: 2px;
}

.arc:hover {
    opacity: 0.6;
}

#tooltip {
    position: absolute;
    text-align: center;
    width: 50px;
    height: auto;
    padding: 2px;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rbga(0, 0, 0, 0.4) pointer-events: none;
}

#tooltip.hidden {
    opacity: 0;
}

#tooltip p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}

.pie-title {
    fill: black;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 4px #00000075;
    opacity: 0;
    align-self: center;
    transition: opacity ease-in 1.5s;
}

/* bar */

.bar-header {
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    transition: opacity ease-in 1.5s;
}

.bar-title {
    fill: black;
    font-weight: bold;
    font-size: 20px;
    margin-right: 4px;
    text-shadow: 2px 2px 4px #00000075;
}

rect:hover {
    opacity: 0.6;
}