﻿@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Coronitor</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=Ao7WXtxR_XuubnfyScsaGq5djKHwEhCJ3Z2h30Sgu-AybaEYqDhIzEx6wk6Pct4T' async defer></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Coronitor</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse order-0">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Map" asp-action="GoogleMaps"><img id="navIcon" src="https://img.icons8.com/ios/50/000000/israel-map.png" /> Map</a>
                        </li>
                       
                        @if (@Context.Session.GetInt32("id") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Events" asp-action="Index"><img id="navIcon" src="https://img.icons8.com/ios/50/000000/edit-calendar.png" /> Events</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="Index"><img id="navIcon" src="https://img.icons8.com/ios/50/000000/statistics.png" /> Statistics</a>
                        </li>

                        @if (@Context.Session.GetInt32("id") != null && @Context.Session.GetString("admin") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TwitterPosts" asp-action="Index"> <img id="navIcon" src="https://img.icons8.com/ios/50/000000/twitter.png" /> Twitter</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img id="navIcon" src="https://img.icons8.com/ios/50/000000/settings.png" />  Managment
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="Index">
                                        <img id="navIcon" src="https://img.icons8.com/ios/50/000000/city-buildings.png" />
                                        Cities
                                    </a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Symptoms" asp-action="Index">
                                        <img id="navIcon" src="https://img.icons8.com/ios/50/000000/vomiting.png" />Symptoms
                                    </a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"><img id="navIcon" src="https://img.icons8.com/ios/50/000000/group-foreground-selected.png" />Users</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="d-sm-inline-flex flex-sm-row-reverse order-2">
                    @if (@Context.Session.GetInt32("id") == null)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item" style="margin-right: 2%">
                                <a class="btn btn-outline-primary btn-sm" asp-area="" asp-controller="Account" asp-action="Index">Login </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-success btn-sm" asp-area="" asp-controller="Users" asp-action="Create">Register</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="btn btn-outline-danger btn-sm" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>

                        </ul>
                        @if (@Context.Session.GetString("admin") != null)
                        {
                            <span class="hi">Hi Admin @Context.Session.GetString("firstname")!</span>

                        }
                        else if (@Context.Session.GetInt32("jobtype") == (int)JobTypeEnum.LaboratoryDirector)
                        {
                            <span class="hi">Hi Laboratory Director @Context.Session.GetString("firstname")!</span>
                        }
                        else if (@Context.Session.GetInt32("jobtype") == (int)JobTypeEnum.Patient)
                        {
                            <span class="hi">Hi Patient @Context.Session.GetString("firstname")!</span>
                        }
                        else if (@Context.Session.GetInt32("jobtype") == (int)JobTypeEnum.Doctor)
                        {
                            <span class="hi">Hi Doctor @Context.Session.GetString("firstname")!</span>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Coronitor 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
