﻿@model Coronitor.Models.TwitterPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TwitterPost</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfectedUser.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfectedUser.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfectedUser.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfectedUser.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostUploadTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostUploadTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
