﻿@model IEnumerable<Coronitor.Models.TwitterPost>

@{
    ViewData["Title"] = "Twitter Posts";
}
<link rel="stylesheet" href="~/css/TwitterPostStyle.css">

<form asp-controller="TwitterPosts" asp-action="Index">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">First Name:</label>
            <input type="text" name="firstName" class="form-control" placeholder="First name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Last Name:</label>
            <input type="text" name="lastName" class="form-control" placeholder="Last name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Posted before:</label>
            <input type="date" name="postDate" class="form-control" placeholder="Posted before" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Search:</label>
            <input value="search" type="submit" name="postDate" class="btn btn-outline-secondary form-control" placeholder="Posted before" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>
    </div>
</form>
@if (@Model.Count() == 0)
{
    <div class="alert alert-dark" role="alert">
        sorry, there is no such twitter post
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PostID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InfectedUser.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InfectedUser.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostUploadTime)
                </th>
                <th>
                    post link
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InfectedUser.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InfectedUser.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostUploadTime)
                    </td>
                    <td>
                       
                        <a href="https://twitter.com/daudi_batel/status/@item.PostID"> 
                            <img src="https://img.icons8.com/fluent/48/000000/twitter.png" /></a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

