﻿@using Microsoft.AspNetCore.Http;
@model Coronitor.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>New Event</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if (@Context.Session.GetInt32("jobtype") != (int)JobTypeEnum.Patient)
            {
                <div class="form-group">
                    <label asp-for="Patient" class="control-label"></label><br />
                    <select asp-for="Patient" class="selectpicker" data-live-search="true" asp-items="ViewBag.Patients"></select>
                    <span asp-validation-for="Patient" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input type="number" step="0.01" value="36.5" class="form-control" asp-for="Temperature">
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Symptoms" class="control-label"></label> <br />
                <select class="selectpicker" multiple data-live-search="true" asp-for="Symptoms" asp-items="ViewBag.Symptoms"></select>
                <span asp-validation-for="Symptoms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor" class="control-label"></label><br />
                <select asp-for="Doctor" class="selectpicker" data-live-search="true" asp-items="ViewBag.Doctors"></select>
                <span asp-validation-for="Doctor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
