﻿@using Microsoft.AspNetCore.Http;
@model Coronitor.Models.EditEventViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Event</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Patient.Id" class="control-label"></label>
                <input asp-for="Patient.Id" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Patient.FullName" class="control-label"></label>
                <input asp-for="Patient.FullName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input type="number" step="0.01" class="form-control" asp-for="Temperature">
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SymptomsIds" class="control-label"></label> <br />
                <select class="selectpicker" multiple data-live-search="true" asp-for="SymptomsIds" asp-items="Model.SymptomsLst"></select>
                <span asp-validation-for="SymptomsIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestDate" class="control-label"></label>
                <input asp-for="TestDate" class="form-control" disabled=@(@Context.Session.GetInt32("jobtype") != (int)JobTypeEnum.Doctor) />
                <span asp-validation-for="TestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label><br />
                <select asp-for="Status" class="selectpicker" data-live-search="true" asp-items="Model.StatusesLst" disabled=@(@Context.Session.GetInt32("jobtype") != (int)JobTypeEnum.Doctor)></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSick" disabled=@(@Context.Session.GetInt32("jobtype") != (int)JobTypeEnum.LaboratoryDirector) />
                    @Html.DisplayNameFor(model => model.IsSick)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label><br />
                <select asp-for="DoctorId" class="selectpicker" data-live-search="true" asp-items="Model.DoctorsLst"></select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back To All Events</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
