﻿@model IEnumerable<Coronitor.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<link rel="stylesheet" href="~/css/eventsStyle.css">
<div class="page-header">
    <h1 class="title-header">Events Management</h1>
    <img class="img-header" src="https://img.icons8.com/ios/50/000000/edit-calendar.png" />
</div>
<div class="panel">
        <a class="btn btn-primary btn-sm btn-circle btn-xl" asp-action="Create">+</a>
        <form class="form" asp-controller="Events" asp-action="Index">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <labelv class="form-label">Status</labelv>
                    <select class="form-control" name="Status" asp-items="Html.GetEnumSelectList<EventStatus>()">
                        <option value="-1" selected>All</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label">Creation Time</label>
                    <input type="date" name="EventDate" class="form-control" placeholder="Creation Time" />
                </div>
                <div class="form-group col-md-3">
                    <label class="form-label form-check-label">
                        @Html.CheckBox("IsSick")
                        Positive tests only
                    </label>
                </div>
                <div class="form-group col-md-3">
                    <input value="search" type="submit" name="postDate" class="btn btn-outline-secondary form-control" />
                </div>
            </div>
        </form>
        @if (@Model.Count() == 0)
        {
            <div class="alert alert-dark" role="alert">
                Sorry, there are no matching events
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Patient)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Symptoms)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Temperature)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreationTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TestDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsSick)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ChanchToBeSick)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Doctor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdateTime)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Patient.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SymptomsString)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Temperature)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreationTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TestDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsSick)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ChanceToBeSickString)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctor.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdateTime)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
