﻿@model Coronitor.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin)
        </dd>
    </dl>

    <form asp-action="Delete">
        @if (!(bool)ViewData["userDeletedFailed" + @Model.Id.ToString()])
        {<input type="submit" value="Delete" class="btn btn-danger" /> }
        else
        {
    <div class="alert alert-danger" role="alert">
        can't delete this user - maybe the user is being used by other model
    </div>
           
        }
        <input type="hidden" asp-for="Id" />

        | <a asp-action="Index">Back to List</a>
    </form>
</div>
