﻿@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/homeStyle.css">
</head>
<body>
    <header>
        <img class="main-img" src="~/images/corona-4.png" />
    </header>
    <section>
        <div class="header">
            <canvas class="canvas" id="myCanvas" width="240" height="40"></canvas>
        </div>
        <div class="newspapaer">
            Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
            Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
            The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face.
            The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
            At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available.
        </div>
    </section>
    <section class="video-section">
        <video class="video" width="540" height="305" controls>
            <source src="~/images/The Coronavirus Explained & What You Should Do.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
        <img class="video-image" src="~/images/317270_webGraphics4_1000x315_noText_2.jpg" />
    </section>
    <section class="container-crown">
        <div class="text-crown">
            Coronaviruses are composed of genetic material surrounded by a round envelope that has protein spikes on the outside that resemble the spikes on a crown, the metal headgear worn by many monarchs across the world, WHO explained in a video. “Crown” in Latin is “corona,” hence the name coronavirus.
        </div>
        <aside>
            <img class="img-crown" src="~/images/corona-crown.png" />
        </aside>
    </section>
    <footer>
        <nav class="container">
            <div class="img-container" onclick="window.location.assign('@Url.Action("Index","Events")')">
                <img class="img" src="~/images/Corona-test-hero-a219365.jpg" />
                <div class="img-textbox">
                    <div class="img-text">Events</div>
                </div>
            </div>
            <div class="img-container" onclick="window.location.assign('@Url.Action("GoogleMaps","Map")')">
                <img class="img" src="~/images/location.jpg" />
                <div class="img-textbox">
                    <div class="img-text">Map</div>
                </div>
            </div>
            <div class="img-container" onclick="window.location.assign('@Url.Action("Index","Statistics")')">
                <img class="img" src="~/images/oie_21172016kSal4p7v.jpg" />
                <div class="img-textbox">
                    <div class="img-text">Statistics</div>
                </div>
            </div>
        </nav>
    </footer>
    <script>
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.font = "28px Roboto";
        ctx.textAlign = "center";
        ctx.fillText("About Coronavirus", c.width/2, c.height/2);
    </script>
</body>