﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<video id="video1" width="420" autoplay>
    <source src="~/images/VID_20200421_184831.mp4" type="video/mp4">
    <source src="mov_bbb.ogg" type="video/ogg">
[</video>
