﻿@model Coronitor.Models.City
<h1>Add City</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (Model != null && Model.Latitude != null)
{
    <div class="alert alert-primary" role="alert">
        The city @Model.Name was added !
    </div>

}
else if (ViewBag.cityAlredyExist)
{
    <div class="alert alert-warning" role="alert">
        The city already exists, Try another one
    </div>
}
else if (ViewBag.loadingFailed)
{
<div class="alert alert-danger" role="alert">
    No such city, try again
</div>
}

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
