﻿@model Coronitor.Models.City

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
    </dl>

    <form asp-action="Delete">
        @if (!(bool)ViewData["cityDeletedFailed" + @Model.Id])
        {<input type="submit" value="Delete" class="btn btn-danger" /> }
        else
        {
    <div class="alert alert-danger" role="alert">
        can't delete this city - maybe the city is being used by other model
    </div>
        }
        <input type="hidden" asp-for="Id" />

        | <a asp-action="Index">Back to List</a>
    </form>    
   
    
</div>
