﻿@model IEnumerable<Coronitor.Models.City>
<div class="input-group-append" style="margin-bottom: 20px;">
    <a class="btn btn-primary input-group-append" asp-action="Create" role="button">Add New City</a>
</div>

<form asp-controller="Cities" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" name="cityName" class="form-control" placeholder="City Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <input class="btn btn-outline-secondary" type="submit" value="Filter">
        </div>
    </div>
</form>

@if (@Model.Count() == 0)
{
    <div class="alert alert-dark" role="alert">
        sorry, there is no such cities
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
