﻿
@{
    ViewData["Title"] = "ByAge";
}

    <head>
        <script type="text/javascript" src="~/js/pieGenerator.js"></script>
    </head>
    <body>
        <div id="ages-pie-title" class="pie-title">Sick People By Ages For 2020</div>
        <svg class="chart" id="chart1" width="400" height="450"></svg>
        <div id="tooltip" class="hidden">
            <p><span id="percent">100</span>%</p>
            <p><span id="count">0</span></p>
        </div>
        <script>
            $.ajax({
                url: '../Statistics/GetSickPatientsByAges',
                type: 'get'
            }).done(x => {
                var sum = x.map(y => y.Value).reduce((acc, val) => acc + val);
                var sum1 = x.filter(x => x.Key >= 0 && x.Key <= 9).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var sum2 = x.filter(x => x.Key >= 10 && x.Key <= 19).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var sum3 = x.filter(x => x.Key >= 20 && x.Key <= 29).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var sum4 = x.filter(x => x.Key >= 30 && x.Key <= 39).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var sum5 = x.filter(x => x.Key >= 40 && x.Key <= 49).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var sum6 = x.filter(x => x.Key >= 50 && x.Key <= 59).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var sum7 = x.filter(x => x.Key >= 60 && x.Key <= 69).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var sum8 = x.filter(x => x.Key >= 70 && x.Key <= 79).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var sum9 = x.filter(x => x.Key >= 80).map(y => y.Value).reduce((acc, val) => acc + val, 0);
                var data = [{ age: "0-9", count: sum1, percent: (sum1 * 100) / sum },
                { age: "10-19", count: sum2, percent: (sum2 * 100) / sum }, { age: "20-29", count: sum3, percent: (sum3 * 100) / sum },
                { age: "30-39", count: sum4, percent: (sum4 * 100) / sum }, { age: "40-49", count: sum5, percent: (sum5 * 100) / sum },
                { age: "50-59", count: sum6, percent: (sum6 * 100) / sum }, { age: "60-69", count: sum7, percent: (sum7 * 100) / sum },
                { age: "70-79", count: sum8, percent: (sum8 * 100) / sum }, { age: "80+", count: sum9, percent: (sum9 * 100) / sum }];
                generatePie("#chart1", data.filter(x => x.percent > 0), "age")
            });
        </script>
    </body>