﻿
@{
    ViewData["Title"] = "Statistics";
}

    <head>
        <link rel="stylesheet" href="~/css/statisiticsStyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
<body>
    @*<script>
        $.ajax({
            url: '../Statistics/GenerateDataForStatistics',
        });
    </script>*@
    <div class="charts-container">
        <div class="chart-container">@await Html.PartialAsync("AgesPie")</div>
        <div class="chart-container">@await Html.PartialAsync("TestsBar")</div>
    </div>
</body>
