﻿
@{
    ViewData["Title"] = "BySymptom";
}

<head>
    <script type="text/javascript" src="~/js/pieGenerator.js"></script>
</head>
<body>
    <svg id="chart2" width="400" height="450"> </svg>
    <script>
        var data = [{ symptom: "איבוד חוש טעם וריח", percent: 20 }, { symptom: "שיעול", percent: 40 },
        { symptom: "חום גבוה", percent: 40 }];
        generatePie("#chart2", data, "חולים לפי תסמינים לשנת 2020", "symptom")
    </script>
</body>