﻿@{
    ViewData["Title"] = "View";
}

    <body>
        <div class="bar-header" id="tests-bar-header">
            <div class="bar-title">Tests Per Day For: </div>
            <input type="month" min="2020-01" value="2020-09" max="2020-09" onchange="update(value)">
        </div>
        <!-- Create a div where the graph will take place -->
        <div class="chart" id="bar"></div>
        <script>
            var xvalues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31];

            // set the dimensions and margins of the graph
            var margin = { top: 30, right: 30, bottom: 70, left: 60 },
                width = 500 - margin.left - margin.right,
                height = 500 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select("#bar")
                .append("svg")
                .attr("width", 500)
                .attr("height", 450)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            // X axis
            var x = d3.scaleBand()
                .range([0, width])
                .domain(xvalues.map(function (d) { return d }))
                .padding(0.4);

            svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x))

            // Add Y axis
            var y = d3.scaleLinear()
                .domain([0, 50])
                .range([height, 0]);

            svg.append("g")
                .attr("class", "myYaxis")
                .call(d3.axisLeft(y));

            // A function that create / update the plot for a given variable:
            function update(value) {
                $.ajax({
                    url: '../Statistics/GetTestsByMonth',
                    data: { value },
                    type: 'get'
                }).done(data => {
                    var u = svg.selectAll("rect")
                            .data(data)
                    u.enter()
                        .append("rect")
                        .merge(u)
                        .transition()
                        .duration(1000)
                        .attr("x", function (d) { return x(d.Key); })
                        .attr("y", function (d) { return y(d.Value); })
                        .attr("width", x.bandwidth())
                        .attr("height", function (d) { return height - y(d.Value); })
                        .attr("fill", "#69b3a2");

                    document.getElementById("bar").style.opacity = 1;
                    document.getElementById("tests-bar-header").style.opacity = 1;
                });
                    }
            update("2020-09");

        </script>
    </body>